{% extends "kk/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>终端管理</title>
{% endblock %}

{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">终端明细</h1>
    <a href="{% url 'terminal_index' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

<div class="weui-tab">

<div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__bd">
            终端号
            </div>
            {# <div class="weui-cell__bd">
            机具号
            </div>
            <div class="weui-cell__bd">
            绑定商户号
            </div> #}
            <div class="weui-cell__bd">
            绑定状态
            </div>
            <div class="weui-cell__bd">
            激活状态
            </div>
            {# <div class="weui-cell__bd">
            绑定时间
            </div> #}
        </div>

        {% for item in items %}
            <div class="weui-cell">
              <div class="weui-cell__bd">
                {{item.terminal}}
              </div>
              {# <div class="weui-cell__bd">
                {{item.pos_version}}
              </div>
              <div class="weui-cell__bd">
                {{item.bind_merchant}}
              </div> #}
              <div class="weui-cell__bd">
                {{item.bind_status}}
              </div>
              <div class="weui-cell__bd">
                {{item.activate_status}}
              </div>
              {# <div class="weui-cell__bd">
                {{item.bind_time|slice:":10"}}
              </div> #}
            </div>

        {% endfor %}
        </div>
    </div>
</div>
</div>

</div>


{% endblock %}

{% block footer_js_extra %}


{% endblock %}