{% extends "kk/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>交易管理</title>
{% endblock %}

{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">交易明细</h1>
    <a href="{% url 'trade_index' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

<div class="weui-tab">

<div class="weui-tab__bd">
    <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
        <div class="weui-cells">

        <div class="weui-cell">
            <div class="weui-cell__bd">
            终端号
            </div>
            <div class="weui-cell__bd">
            交易金额
            </div>
            <div class="weui-cell__bd">
            交易类型
            </div>
            <div class="weui-cell__bd">
            交易卡号
            </div>
            <div class="weui-cell__bd">
            交易状态
            </div>
            <div class="weui-cell__bd">
            交易时间
            </div>
        </div>

        {% for item in items %}
            <div class="weui-cell">
              <div class="weui-cell__bd">
                {{item.terminal}}
              </div>
              <div class="weui-cell__bd">
                {{item.trade_rmb}}
              </div>
              <div class="weui-cell__bd">
                {{item.trade_type}}
              </div>
              <div class="weui-cell__bd">
                {{item.card_code}}
              </div>
              <div class="weui-cell__bd">
                {{item.trade_status}}
              </div>
              <div class="weui-cell__bd">
                {{item.trade_date|slice:":10"}}
              </div>
            </div>

        {% endfor %}
        </div>
    </div>
</div>
</div>

</div>


{% endblock %}

{% block footer_js_extra %}


{% endblock %}