{% extends "kk/base.html" %} {% load staticfiles %}

{% block header_title  %}
    <title>交易管理</title>
{% endblock %}

{% block container %}

<div class="weui-topbar">
    <h1 class="weui-topbar-title">交易汇总信息</h1>
    <a href="{% url 'trade_index' %}"  class="weui-topbar-back"><i><svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg></i></a>
</div>

<div class="bd mt40 mb40">

<div class="weui-form-preview">
    <div class="weui-form-preview__bd">
        <label class="weui-form-preview__label">交易终端数量</label>
        <span class="weui-form-preview__value">
        {{ terminal_num }}
        </span>
    </div>

    <div class="weui-form-preview__bd">
        <label class="weui-form-preview__label">贷记卡交易</label>
        <span class="weui-form-preview__value">
        {{ rmb }}
        </span>
    </div>

    <div class="weui-form-preview__bd">
        <label class="weui-form-preview__label">云闪付交易</label>
        <span class="weui-form-preview__value">
        {{ rmb_yun }}
        </span>
    </div>


</div>

</div>

{% endblock %}

{% block footer_js_extra %}


{% endblock %}