{% extends "admin/base_site.html" %}
{% load admin_static %}

{% block content %}
{{ block.super }}


<div class="results">
<form action="{% url 'add_user_terminals' %}" method="post">
    {% csrf_token %}
<div>
    <label >用户名：{{ target_user.userprofile.name }}</label>
</div>
<br/>
<div>
    <label>起始终端号：</label>
    <input type="text" name="start" value="" required="" class="vTextField" maxlength="20">
</div>

<br/>
<div>
    <label>结束终端号：</label>
    <input type="text" name="end" value="" required="" class="vTextField" maxlength="20">
</div>

<div>
    <input type="hidden" name="user_id" value="{{ target_user.id }}">
    <input type="submit" value="提交">
</div>

</form>
</div>

{% endblock %}