{% extends "kk/base.html" %}
{% load staticfiles %}

{% block header_title %}
<title>首页</title>
{% endblock %}

{% block header_css_extra %}
.juzhong {
  text-align: center;
  font-size: 24px;
  color: cornflowerblue;
  font-weight: 400;
  margin: 0 15%;
}
.weui-article h1 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: .9em;
}
{% endblock %}

{% block container  %}

<div class="juzhong">

<div class="bd mt40 mb40">
<div class="weui_tab">
<article class="weui-article">
    <h1>Welcome</h1>
    <section>
        <h3></h3>
        <h3></h3>
    </section>

</article>
</div>
</div>

</div>
{% endblock %}
